@font-face {
  font-family: arizonia;
  src: url("./assets/Arizonia-Regular.ttf");
}


@font-face {
  font-family: poppinsn;
  src: url('./assets/poppins/Poppins-Regular.ttf');
  font-weight: normal;

}

@font-face {
  font-family: poppinsb;
  src: url('./assets/poppins/Poppins-SemiBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url('./assets/poppins/Poppins-Bold.ttf');
  font-weight: bolder;
}
